@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-form-field,
textarea {
  width: 40%;
}
.Input1{
  position: fixed;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  width:50%;
 }