<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <div id="Input1">
      <mat-form-field>
        <input
          matInput
          name="title"
          type="text"
       
          placeholder="Character Name"
          ngModel
          required
          minlength="3"
          #title="ngModel">
        <mat-error *ngIf="title.invalid">Character Name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name = "level"
          type = "number"
          id = "lvl"
          placeholder="Level"
          ngModel
          required
          #content="ngModel">
        <mat-error *ngIf="content.invalid">Level >=1 && Level <=20</mat-error>
  
      </mat-form-field>
    </div>
      
      <mat-form-field>
        <input
          matInput
          name="content"
          type = "number"
          id = "ageNum"
          placeholder="Age"
          ngModel
          required
          #content="ngModel">
        <mat-error *ngIf="content.invalid">Age is a Number</mat-error>
        
  
      </mat-form-field>
      <br>

      <mat-form-field>
          <select 
          name = "background"
           id = "bg"
           ngModel
           required
           #content="ngModel">
              <option value="Acolyte">Acolyte</option>
              <option value="Entertainer">Entertainer</option>
              <option value="Noble">Noble</option>
              <option value="Soldier">Soldier</option>
            </select> 
          </mat-form-field>
            <br>

      <mat-form-field>
      <select>
          <option value="barb">Barbarian</option>
          <option value="bard">Bard</option>
          <option value="cler">Cleric</option>
          <option value="drud">Druid</option>
        </select> 
      </mat-form-field>
<br>
      <mat-form-field>
        <select>
            <option value="L">Lawful</option>
            <option value="N">Neutal</option>
            <option value="C">Chaotic</option>
          </select> 

          <select>
            <option value="G">Good</option>
            <option value="N">Neutal</option>
            <option value="E">Evil</option>
          </select> 
        </mat-form-field>
        <br>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Character</button>
    </form><!-- Important Form is Used for the post data parts-->


  </mat-card>
  
  <script>
    //JS
      </script>
  