<body>
  <mat-card>
      <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <div id="Input1">
        <mat-form-field>
          <input
            matInput
            name="title"
            type="text"
         
            placeholder="Character Name"
            ngModel
            required
            minlength="3"
            ngModel={{post.title}}>
          <mat-error *ngIf="title.invalid">Character Name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name = "level"
            type = "number"
            id = "lvl"
            placeholder="Level"
            ngModel
            required
            #content="ngModel"
            ngModel={{post.content}}
            >
          <mat-error *ngIf="content.invalid">Level >=1 && Level <=20</mat-error>
    
        </mat-form-field>
      </div>
        
        <mat-form-field>
          <input
            matInput
            name="content"
            type = "number"
            id = "ageNum"
            placeholder="Age"
            ngModel
            required
            #content="ngModel"
            ngModel={{post.level}}>
          <mat-error *ngIf="content.invalid">Age is a Number</mat-error>
          
    
        </mat-form-field>
        <br>
  
        <mat-form-field>
            <select 
            name = "background"
             id = "bg"
             ngModel
             required
             #content="ngModel"
             ngModel={{post.background}}>
                <option value="Acolyte">Acolyte</option>
                <option value="Entertainer">Entertainer</option>
                <option value="Noble">Noble</option>
                <option value="Soldier">Soldier</option>
              </select> 
            </mat-form-field>
              <br>
  
        <mat-form-field>
        <select
            name = "Cclass"
             id = "cl"
             ngModel
             required
             #content="ngModel"
             ngModel={{post.cClass}}>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
          </select> 
        </mat-form-field>
  <br>
        <mat-form-field>
          <select>
              <option value="L">Lawful</option>
              <option value="N">Neutal</option>
              <option value="C">Chaotic</option>
            </select> 
  
            <select>
              <option value="G">Good</option>
              <option value="N">Neutal</option>
              <option value="E">Evil</option>
            </select> 
          </mat-form-field>
          <br>
        <button
          mat-raised-button
          color="accent"
          type="submit">Save Character</button>
      </form><!-- Important Form is Used for the post data parts-->
  
  
    </mat-card>
  </body>
    <script>
      //JS
        </script>
    